.navbar{
    /* height:100px; */
    width:100%;
    background-color: transparent;
    border: 1px solid green;
    /* background-image: url("../"); */
    background-repeat: no-repeat;
    background-size:100% 100%;
    
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100%;
    /* border:1px solid red; */
    color: white;
    font-weight: bold;

}
.top h2{
    font-size: 30px;
}
.top ul{
    list-style: none;
    /* border: 1px solid blue; */
}
.top li{
    margin-left: 87px;
    font-size: 26px;
    display: inline;
    color: white;
    transition-duration: 0.5s;
}
.top li:hover{
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}




.cover{
    height:450px;
    width:100%;
    /* border:1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}