*{
    margin: 0;
    padding: 0%;
}
.grand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height:300px;
    width:80%;
    border:1px solid grey;
    position: relative;
    margin-top:20px;
}
.card h1{
    position: absolute;
    left:50px;
    top:100px;
    font-size: 75px;
}
.card h3{
    position: absolute;
    left:150px;
    top:120px;
    font-size: 27spx;
}
.card h4{
    position: absolute;
    left:150px;
    top:148px;
    font-size: 27spx;
}

.card p{
    position: absolute;
    left:350px;
    top:110px;
    font-size:37px;
    font-weight: bold;
}

.card pre{
    position: absolute;
    left:350px;
    top:150px;
    font-size: 27px;
}
.card i{
    color:black;
}
.card button{
    position: absolute;
    right:50px;
    top:130px;

    background-color: #ff2d55;
    color:white;
    font-weight: bold;
    height:50px;
    width:150px;
    border: none;
    border-radius: 18px;
    font-size: 22px;
}
.card i{
    color:white;
    margin-right: 10px;
}