h3{

}
input{
    height:25px;
    width:500px;
    
}
button{
    height:50px;
    width:300px;
    color:white;
    background-color: green;
    border-radius: 10px ;
    font-weight: bold;
    font-size: 25px;
    border:none;
    margin-top:50px;


}
button:hover{
    color:green;
    border:3px solid green;
    background-color: white;

}